<h3>Stats</h3>
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Top 5 sold products:</h5>
                <div *ngIf="top5sold.length">
                    <div *ngFor="let x of top5sold; let i = index">
                        <div class="media">
                            <img [src]="x.mainImage" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <h6>{{ x.title }}</h6>
                                <p>Sold: {{ x.sold }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Top 5 unique sold products:</h5>
                <div *ngIf="top5unique.length">
                    <div *ngFor="let x of top5unique; let i = index">
                        <div class="media">
                            <img [src]="x.mainImage" class="align-self-start mr-3" style="width:60px">
                            <div class="media-body">
                                <h6>{{ x.title }}</h6>
                                <p>Sold: {{ x.unique }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5>Last 5 days sales:</h5>
                <div *ngIf="sales">
                    <div *ngFor="let x of sales; let i = index">
                        <h6>{{ x.date }}: {{ x.sum }} 
                            {{ state.state.site_settings.payment_currency }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>