<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            &copy; Copyright {{host}} 2020</p>
        <br>
        <p *ngIf="state.state.site_settings.credit_builder" class="m-0 text-center text-white">Built by Yigal Gilad,
            igalg1999@gmail.com
        </p>
        <br>
        <p class="m-0 text-center text-white" *ngIf="
        state.state.site_settings.social_links.facebooklink !== 'none' ||
        state.state.site_settings.social_links.instagramlink !== 'none' ||
        state.state.site_settings.social_links.linkedinlink !== 'none' ||
        state.state.site_settings.social_links.twitterlink !== 'none' ||
        state.state.site_settings.social_links.youtubelink !== 'none'
        ">Follow us:</p>
        <h1 class="m-0 text-center text-white">
            <a [href]="state.state.site_settings.social_links.facebooklink" style="color: white;" *ngIf="state.state.site_settings.social_links.facebooklink && 
                state.state.site_settings.social_links.facebooklink !== 'none'">
                <i class="fab fa-facebook"></i>
            </a>&nbsp;
            <a [href]="state.state.site_settings.social_links.instagramlink" style="color: white;" *ngIf="state.state.site_settings.social_links.instagramlink && 
                state.state.site_settings.social_links.instagramlink !== 'none'">
                <i class="fab fa-instagram"></i>
            </a>&nbsp;

            <a [href]="state.state.site_settings.social_links.linkedinlink" style="color: white;" *ngIf="state.state.site_settings.social_links.linkedinlink &&
                state.state.site_settings.social_links.linkedinlink !== 'none'">
                <i class="fab fa-linkedin-in"></i>
            </a>&nbsp;
            <a [href]="state.state.site_settings.social_links.twitterlink" style="color: white;" *ngIf="state.state.site_settings.social_links.twitterlink && 
                state.state.site_settings.social_links.twitterlink !== 'none'">
                <i class="fab fa-twitter"></i>
            </a>&nbsp;
            <a [href]="state.state.site_settings.social_links.youtubelink" style="color: white;" *ngIf="state.state.site_settings.social_links.youtubelink && 
                state.state.site_settings.social_links.youtubelink !== 'none'">
                <i class="fab fa-youtube"></i>
            </a>
        </h1>
    </div>
</footer>