<h3>Edit app settings</h3>
<div class="form-group">
    <label>App logo:</label>
    <input type="file" accept="image/*" (change)="onSelectFile5($event)" class="form-control">
    <br>
    <img *ngIf="site_settings.applogo" class="img-fluid" [src]="site_settings.applogo">
</div>
<div class="form-group">
    <label>App terms of use:</label>
    <input type="file" accept="application/pdf" (change)="onSelectFile1($event)" class="form-control">
</div>
<div class="form-group">
    <label>App privacy policy:</label>
    <input type="file" accept="application/pdf" (change)="onSelectFile2($event)" class="form-control">
</div>
<div class="form-group">
    <label>Store policy:</label>
    <input type="file" accept="application/pdf" (change)="onSelectFile3($event)" class="form-control">
</div>
<div class="form-group">
    <label for="sel1">App supported payment currency:</label>
    <select [(ngModel)]="site_settings.payment_currency" class="form-control" id="sel1">
        <option *ngFor="let x of currencirs; let i = index" value="{{x.code}}">{{ x.currency }}</option>
    </select>
</div>
<div class="form-group">
    <label>Facebook link:</label>
    <input type="text" [(ngModel)]="site_settings.facebooklink" class="form-control" placeholder="Edit facebook link">
</div>
<div class="form-group">
    <label>Instagram link:</label>
    <input type="text" [(ngModel)]="site_settings.instagramlink" class="form-control" placeholder="Edit instagram link">
</div>
<div class="form-group">
    <label>Linkedin link:</label>
    <input type="text" [(ngModel)]="site_settings.linkedinlink" class="form-control" placeholder="Edit linkedin link">
</div>
<div class="form-group">
    <label> Twitter link:</label>
    <input type="text" [(ngModel)]="site_settings.twitterlink" class="form-control" placeholder="Edit twitter link">
</div>
<div class="form-group">
    <label>Youtube link:</label>
    <input type="text" [(ngModel)]="site_settings.youtubelink" class="form-control" placeholder="Edit youtube link">
</div>
<h6><input type="checkbox" [checked]="site_settings.credit_builder"
        (change)="site_settings.credit_builder = !site_settings.credit_builder">
    Cedit builder
</h6>

<h6>
    <input type="checkbox" [checked]="site_settings.is_allowed_to_buy"
        (change)="site_settings.is_allowed_to_buy = !site_settings.is_allowed_to_buy">
    Disable all payments
</h6>
<br>
<button type="button" class="btn btn-dark" (click)="admin.editSettings(site_settings)" [disabled]="
!site_settings.title">
    <i class="fas fa-save"></i> Save changes</button>
<br><br><br><br><br><br><br><br>