<div class="w-100 d-flex justify-content-center align-items-center" *ngIf="isLoading">
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="spinner-border"></div>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="!state.state.cart.length" class="w-100 d-flex justify-content-center align-items-center">
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>
        <h5>There are no items in your cart yet...</h5>
        <br><br><br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br><br><br>

    </div>
    <div *ngIf="state.state.cart.length">
        <h3>Items in your cart: {{ state.state.cart.length }}</h3>
        <div *ngFor="let x of state.state.cart; let i = index">
            <div class="card">
                <div class="card-body">
                    <h5>{{ x.product.title }}</h5>
                    <div class="row">
                        <div class="col-3">
                            <img class="img-fluid" [src]="x.product.mainImage">
                        </div>
                        <div class="col-5">
                            <h5>Price per unit: {{ state.state.site_settings.payment_currency }} {{ x.product.price }}</h5>
                            <hr>
                            <p *ngIf="x.amount <= x.product.stock"><span style="font-weight: bold;">Total: </span>{{ state.state.site_settings.payment_currency
                                }} {{
                                x.product.price }} X 
                                {{ x.amount }} units = {{ state.state.site_settings.payment_currency }} {{ x.product.price *
                                x.amount }}
                            <p>
                        </div>
                        <div class="col-4">
                            <div class="input-group mb-3"
                                *ngIf="!state.state.current_user.isbanned && state.state.is_logged">
                                <input type="number" min="1" max="{{x.product.stock}}" [(ngModel)]="x.amount"
                                    (change)="change()" class="form-control" placeholder="units">
                                <div class="input-group-append">
                                    <button class="btn btn-danger" type="button" (click)="removeProductFromCart(i)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                            <p *ngIf="x.amount <= x.product.stock">{{ x.product.stock }} left</p>
                            <p style="color: red;" *ngIf="x.amount > x.product.stock">{{ x.product.stock }} left</p>
                        </div>
                    </div>
                    <br>
                    <div class="card">

                        <div class="card-body">
                            <p><i class="fas fa-shipping-fast"></i> Shipping:</p>
                            <p>from
                                {{ x.product.shippingFrom }} in {{ x.product.shippingTime }} business
                                day(s), only to&nbsp;
                                <span *ngIf="!x.product.shippingLimit.length">Worldwide</span>
                                <span *ngIf="x.product.shippingLimit.length">
                                    <span *ngFor="let x of x.product.shippingLimit; let i = index">
                                        {{ x.name }},&nbsp;
                                    </span>
                                </span>
                            </p>
                            <p><span style="font-weight: bold;">Price per unit: </span>{{ state.state.site_settings.payment_currency }}
                                {{x.product.shippingPrice }}</p>
                            <p *ngIf="x.amount <= x.product.stock"><span style="font-weight: bold;">Total: </span>{{ state.state.site_settings.payment_currency }}
                                {{x.product.shippingPrice }} X
                                {{ x.amount }} units = {{ state.state.site_settings.payment_currency }} {{
                                x.product.shippingPrice *
                                x.amount }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <h5>total price: {{ state.state.site_settings.payment_currency }} {{ clcTotalPrice() }} (products) + {{
            state.state.site_settings.payment_currency }}
            {{ clcTotalShippingPrice() }} (shipping) = total: {{ state.state.site_settings.payment_currency }} {{
            clcTotalPrice() + clcTotalShippingPrice()}}</h5>
        <button type="button" class="btn btn-dark" [disabled]="!payButtonCheck()" (click)="settings.buy()"
            skipLocationChange>
            Get products and pay {{ state.state.site_settings.payment_currency }} {{ clcTotalPrice()
            +clcTotalShippingPrice()}}
        </button>
    </div>

</div>